@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: linear-gradient(135deg, #141e30, #243b55);
  min-height: 100vh;
}

.main-button {
  @apply shadow-custom rounded-full border-2 border-blue-300 px-7 py-3 text-center font-semibold text-white transition-colors hover:bg-blue-300 hover:text-black;
}
